[submodule "tingle/tingle-style"]
	path = tingle/tingle-style
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-style.git
[submodule "tingle/tingle-group-list"]
	path = tingle/tingle-group-list
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-group-list.git
[submodule "tingle/tingle-dialog"]
	path = tingle/tingle-dialog
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-dialog.git
[submodule "tingle/tingle-layer"]
	path = tingle/tingle-layer
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-layer.git
[submodule "tingle/tingle-mask"]
	path = tingle/tingle-mask
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-mask.git
[submodule "tingle/tingle-on-off"]
	path = tingle/tingle-on-off
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-on-off.git
[submodule "tingle/tingle-slide"]
	path = tingle/tingle-slide
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-slide.git
[submodule "tingle/tingle-text-field"]
	path = tingle/tingle-text-field
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-text-field.git
[submodule "tingle/tingle-tip"]
	path = tingle/tingle-tip
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-tip.git
[submodule "tingle/tingle-on-off-field"]
	path = tingle/tingle-on-off-field
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-on-off-field.git
[submodule "tingle/tingle-textarea-field"]
	path = tingle/tingle-textarea-field
	url = git@gitlab.alibaba-inc.com:alinwmobile/tingle-textarea-field.git
