/**
 * Tingle Context
 * The environment for tingle's initialization
 * @auther gnosaij
 *
 * Copyright 2014-2015, Tingle Team, Alinw.
 * All rights reserved.
 */

// tingle-style's utils
@require '../tingle/tingle-style/src/var'

#TingleDemo
    .lineByPx
        border 1px solid #000
        .hairline &
            border-width 0.5px
    .lineByRem
        border rem(1) solid #000
    .lineByRem2
        border rem(2) solid #000
    .lineByRem3
        border rem(3) solid #000